<dl class="generic-record-detail">
  @for (field of fields(); track $index) {
    <dt class="generic-record-detail__label">{{ field.label }}</dt>

    <dd
      class="generic-record-detail__value"
      [class.generic-record-detail__value--id]="field.kind === 'Guid'"
    >
      @if (field.link) {
        <a [routerLink]="['/service-data', field.link.targetResource, field.link.id]">
          {{ display(field) }}
        </a>
      } @else {
        {{ display(field) }}
      }
    </dd>
  }
</dl>
